<?xml version="1.0"?>
<project name="ExportData" basedir=".">
<property name="project.dir" value="C:\Temp"/>
<property name="project.dbms" value="ORA"/>
<property name="project.jndiname" value="Merck Global"/>
<property name="zipname" value="C:\Temp\Merck Global_CTT_Y.X.Z.zip"/>
<target name="Merck Global_20180420">
  <exportXML dir="${project.dir}" zipfile="${zipname}" logimport="true">
  <connection dbms="${project.dbms}" jndiname="${project.jndiname}"/>
    <webpage keyid1="LV_WorkOrderLookup_Single_EMRpt" keyid2="U" primaryforceupdate="true" detailforceupdate="true" exportnodes="false"/>
    <sdi sdcid="Report" keyid1="EM_SamplesDrawingIns" keyid2="1" file="Report.xml" primaryforceupdate="true" detailforceupdate="true" exportdetails="true" exportsdidetails="true" exportroles="false"/>
  </exportXML>
</target>
</project>
